.admin {
    background-color: #00ced1;
    background-image: none!important;
    border-bottom: 0.5em solid darkgray;
    margin-left: -40px;
}

div.imagebuttons {
    width: 29%;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.imagebuttons img {
    text-align: center;
}

a:hover {
    border: none !important;
}

.span2 {
    width: 140px;
}

body {
    background-color: white;
    margin-left: 40px;
}



.main {
    border: 0.5em solid #8bb839;
    padding: 0.5em;
    width: 800px;
}

.maincontent {
    margin-top: 5em;
    margin-bottom: 5em;
}

h2 {
    color: black;
}

#sidr {
    background: none repeat scroll 0 0 #333333;
    box-shadow: 0 0 5px 5px #222222 inset;
    color: #FFFFFF;
    display: none;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 15px;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 200px;
    z-index: 999999;
}

#sidr ul {
    /*margin-left: -40px;*/
    width: 100%;
}

#sidr ul li.blueitem {

    background-color: #008B8B;
    border: 1px solid #000000;
    color: #FFFFFF !important;
    display: block;
    height: 40px;
    padding-top: 20px;
    text-shadow: none;
   
}

#sidr ul li.blueitem a {
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: central;
    padding-left: 20px;
}

#simple-menu {
    font-size: 1em;
    color: #ffffff;
    background-color: darkred;
}

ul li.blueitem a:hover {
    text-decoration: underline;
}

ul li.greyitem a {
    color: black;
    font-weight: bold;
    padding-left: 20px;
}

ul li.greyitem a:hover {
    text-decoration: underline;
}

.greyitem {
    background-color: lightgray;
    border: 1px solid #000000;
    color: #FFFFFF !important;
    display: block;
    height: 40px;
    padding-top: 20px;
    text-shadow: none;
}

fieldset legend {
        display: none;
    }
